*{
    margin: 0;
    padding: 0;
}



#template{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20vh 10vh;
}


.box1{
    background-color: #65c78b;
}

.box2{
    background-color: hsl(214, 89%, 71%);
}

.box3{
    background-color: #fa6c6c;
    grid-column: 1/3;
}


#gridarea{
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 10vh 20vh;
    grid-template-areas: "box4 box4" "box5 ." ". box6" ;

}

.box4{
    background-color: #faec6c;
    grid-area: box4;
}

.box5{
    background-color: #fa6cae;
    grid-area: box5;
}


.box6{
    background-color: #8d56a3;
    grid-area: box6;
}



#gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    height: 20vh;

}


.box7{
    background-color: #343ca5;
 
}

.box8{
    background-color: #830a42;
   
}


.box9{
    background-color: #053315;

}
